* {
    font-family: sans-serif;
}
H1 {
    border: 1px solid black;
}

h5 {
    color: grey;
}

.special {
    font-weight: bolder;
}

#specific {
    color: green;
}

.banner {
    margin-left: 400px;
}

button {
    background: none;
    border: 2px solid blue;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
}

#share {
    background-color: blue;
    color: white;
}